
<%- include('partials/header') %> 

      <div class="starter-template">
        <h1>multiplicationTable</h1>
        <p class="lead">Generate the multiplication table from zero to one hundred.</p>
      </div>

<%- include('partials/footer') %> 